body
{
    background-image: linear-gradient(to left, grey, lightgrey);
}

#form
{
    text-align: center;
    padding-top: 5cm;
}

.campo
{
    width: 2.5cm;
    margin: 20px;
}

.box
{
    border-color: black;
    border-width: 5px;
    border-radius: 100px;
    border-style: double;
    margin-top: 20px;
    margin-right: 10cm;
    margin-left: 10cm;
}

#save
{
    margin-top: 2cm;
    font-size: 1.5cm;
    font-family: monospace;
    color: red;
}

h1
{
    text-align: center;
    font-family: monospace;
    font-size: 2cm;
    margin-bottom: -4.5cm;
    color: #333333;
}

#goBack
{
    padding-top: 2cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
